<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
	<meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- PAGE TITLE HERE -->
	<title>Biblioteca Virtual BIBUJA</title>



	<link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
	<link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
	<link href="vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

	<!-- tagify-css -->
	<link href="/vendor/tagify/dist/tagify.css" rel="stylesheet">

	<!-- Style css -->
	<link href="/css/style.css" rel="stylesheet">

</head>

<body data-typography="poppins" data-theme-version="light" data-layout="vertical">



    <div id="main-wrapper">

      	<!--********** navbar horizontal*************-->
		{{> navbarhor}}

		<!--********** navbar vertical*************-->
		{{> navbarBiblio}}

        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <body class="nk-body bg-lighter npc-default has-sidebar "
                                style="font-family: 'Ubuntu', sans-serif;">
                                <div class="nk-app-root">
                                    <div class="nk-main ">
                                        <div class="nk-wrap ">
                                            <div class="nk-content ">
                                                <div class="container-fluid">
                                                    <div class="nk-content-inner">
                                                        <div class="nk-content-body">
                                                            <div class="components-preview wide-md mx-auto">
                                                                <div class="nk-block-head nk-block-head-lg wide-sm">
                                                                    <div class="nk-block-head-content">
                                                                        <h2 class="nk-block-title fw-normal">Registrar Devolución</h2>
                                                                    </div>
                                                                </div><!-- .nk-block-head -->


                                                                <div class="card-inner">
                                                                    <div class="preview-block">
                                                                        {{#each prestamo}}
                                                                        <form action="/page-modificacionEjemPrestamo" method="POST" class="dz-form">
                                                                            <div class="form-group mb-3">
                                                                                <label for="idPrestamo">Id Prestamo</label>
                                                                                <input type="text" name="idPrestamo" class="form-control" value="{{idPrestamo}}" readonly>
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="idInventario">Id Inventario</label>
                                                                                <input type="text" name="idInventario" class="form-control" value="{{idInventario}}" readonly>
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="cedula">Cédula</label>
                                                                                <input type="text" name="cedula" class="form-control" value="{{cedula}}" readonly>
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="fecha">Fecha</label>
                                                                                <input type="text" name="fecha" class="form-control" value="{{fecha}}" readonly>
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="fechaTope">Fecha Tope</label>
                                                                                <input type="text" name="fechaTope" class="form-control" value="{{fechaTope}}" readonly>
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="fechaDevolucion">Fecha Devolucion</label>
                                                                                <input type="date" name="fechaDevolucion" class="form-control"  required>
                                                                            </div>
                                                                            <div class="form-group mb-3">
                                                                                <label for="multa">multa</label>
                                                                                <select name="multa" class="form-control" value="No">
                                                                                    <option value="no">No</option>
                                                                                    <option value="si">Si</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="text-center">
                                                                                <button class="btn btn-danger button-md btn-block" type="submit">Registrar</button>
                                                                            </div>
                                                                        </form>
                                                                        {{/each}}
                                                                    </br>
                                                                </div>

                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- JavaScript -->

                                        <script src="js/bundle.js"></script>
                                        <script src="js/scripts.js"></script>
                            </body>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <!--**********************************
            Content body end
        ***********************************-->
    <div class="offcanvas offcanvas-end customeoff" tabindex="-1" id="offcanvasExample">
        <div class="offcanvas-header">
            <h5 class="modal-title" id="#gridSystemModal">Add Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <div class="container-fluid">
                <div>
                    <label>Profile Picture</label>
                    <div class="dz-default dlab-message upload-img mb-3">
                    
                            <svg width="41" height="40" viewBox="0 0 41 40" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.1666 26.6667L20.4999 20L13.8333 26.6667" stroke="#DADADA" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20.5 20V35" stroke="#DADADA" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M34.4833 30.6501C36.1088 29.7638 37.393 28.3615 38.1331 26.6644C38.8731 24.9673 39.027 23.0721 38.5703 21.2779C38.1136 19.4836 37.0724 17.8926 35.6111 16.7558C34.1497 15.619 32.3514 15.0013 30.4999 15.0001H28.3999C27.8955 13.0488 26.9552 11.2373 25.6498 9.70171C24.3445 8.16614 22.708 6.94647 20.8634 6.1344C19.0189 5.32233 17.0142 4.93899 15.0001 5.01319C12.9861 5.0874 11.015 5.61722 9.23523 6.56283C7.45541 7.50844 5.91312 8.84523 4.7243 10.4727C3.53549 12.1002 2.73108 13.9759 2.37157 15.959C2.01205 17.9421 2.10678 19.9809 2.64862 21.9222C3.19047 23.8634 4.16534 25.6565 5.49994 27.1667"
                                    stroke="#DADADA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M27.1666 26.6667L20.4999 20L13.8333 26.6667" stroke="#DADADA" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="fallback">
                                <input name="file" type="file" multiple>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
            Footer start
        ***********************************-->
   {{> footerhor}}


    </div>

    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="vendor/apexchart/apexchart.js"></script>

    <!-- Dashboard 1 -->
    <script src="js/dashboard/dashboard-1.js"></script>
    <script src="vendor/draggable/draggable.js"></script>


    <!-- tagify -->
    <script src="vendor/tagify/dist/tagify.js"></script>

    <script src="vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/js/dataTables.buttons.min.js"></script>
    <script src="vendor/datatables/js/buttons.html5.min.js"></script>
    <script src="vendor/datatables/js/jszip.min.js"></script>
    <script src="js/plugins-init/datatables.init.js"></script>

    <!-- Apex Chart -->

    <script src="vendor/bootstrap-datetimepicker/js/moment.js"></script>
    <script src="vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


    <!-- Vectormap -->
    <script src="vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <script src="vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/deznav-init.js"></script>
    <script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>



</body>

</html>