<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:title" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:description" content="W3crm:Customer Relationship Management Admin Bootstrap 5 Template">
    <meta property="og:image" content="https://w3crm.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Biblioteca Virtual BIBUJA
    </title>


    <link href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css">
    <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- tagify-css -->
    <link href="./vendor/tagify/dist/tagify.css" rel="stylesheet">

    <!-- Style css -->
    <link href="./css/style.css" rel="stylesheet">

</head>

<body data-typography="poppins" data-theme-version="light" data-layout="vertical">
    <div id="main-wrapper">
        <!--********** navbar horizontal*************-->
        {{>navbarhor}}
        <!--********** navbar vertical*************-->
        {{> navbar}}
        <div class="content-body">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <br><br>
                    <div class="table-responsive">
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Enunciado</th>
                                    <th>Dificultad</th>
                                    <th>Opción</th>
                                    <th>Respuesta Correcta</th>
                                    <th>Retroalimentación</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each pregunta}}
                                <tr>
                                    <td style="word-break: break-word; white-space: normal;">{{enunciado}}</td>
                                    <td style="text-center">{{dificultad}}</td>
                                    <td style="word-break: break-word; white-space: normal;">{{opcion}}</td>
                                    <td style="word-break: break-word; white-space: normal;">{{respuestaCorrecta}}</td>
                                    <td style="word-break: break-word; white-space: normal;">{{retroalimentacion}}</td>


                                    <td>
                                        <button id="deleteButton" class="btn btn-danger" data-toggle="modal"
                                            data-target="#deleteModal">Eliminar</button>
                                        <button id="updateButton" class="btn btn-primary" data-toggle="modal"
                                            data-target="#updateModal">Actualizar</button>

                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <!-- Ventana modal de eliminación -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este elemento?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmDeleteButton" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana modal de actualización -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Actualizar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
           <div class="modal-body">
  <div class="modal-body">
  <form>
    <div class="form-group">
      <label for="dificultad">Dificultad</label>
      <input type="number" class="form-control" id="dificultad" placeholder="1-3">
    </div>
    <div class="form-group">
      <label for="enunciado">Enunciado</label>
      <textarea class="form-control" id="enunciado" placeholder="Máximo 1024 caracteres"></textarea>
    </div>
    <div class="form-group">
      <label for="opciona">Opción A</label>
      <input type="text" class="form-control" id="opciona" placeholder="Ingrese una opción">
    </div>
    <div class="form-group">
      <label for="opcionb">Opción B</label>
      <input type="text" class="form-control" id="opcionb" placeholder="Ingrese una opción">
    </div>
    <div class="form-group">
      <label for="opcionc">Opción C</label>
      <input type="text" class="form-control" id="opcionc" placeholder="Ingrese una opción">
    </div>
    <div class="form-group">
      <label for="opciond">Opción D</label>
      <input type="text" class="form-control" id="opciond" placeholder="Ingrese una opción">
    </div>
    <div class="form-group">
      <label for="respuestaCorrecta">Respuesta Correcta</label>
      <select class="form-control" id="respuestaCorrecta">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
      </select>
    </div>
    <div class="form-group">
      <label for="retroalimentacion">Retroalimentación</label>
      <textarea class="form-control" id="retroalimentacion" placeholder="Digite el motivo de la respuesta"></textarea>
    </div>
  </form>
</div>

</div>

               
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="confirmUpdateButton" type="button" class="btn btn-primary">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <!--**********************************
            Footer start
        ***********************************-->
    {{> footerhor}}

    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
    <script src="./vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="./vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="./vendor/apexchart/apexchart.js"></script>
    <!-- Dashboard 1 -->
    <script src="./js/dashboard/dashboard-1.js"></script>
    <script src="./vendor/draggable/draggable.js"></script>
    <!-- tagify -->
    <script src="./vendor/tagify/dist/tagify.js"></script>
    <script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="./vendor/datatables/js/dataTables.buttons.min.js"></script>
    <script src="./vendor/datatables/js/buttons.html5.min.js"></script>
    <script src="./vendor/datatables/js/jszip.min.js"></script>
    <script src="./js/plugins-init/datatables.init.js"></script>
    <!-- Apex Chart -->
    <script src="vendor/bootstrap-datetimepicker/js/moment.js"></script>
    <script src="vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Vectormap -->
    <script src="./vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <script src="./vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="./js/custom.js"></script>
    <script src="./js/deznav-init.js"></script>
    <script src="./js/demo.js"></script>
    <script src="./js/styleSwitcher.js"></script>


</body>


</html>